
<span class="material-icons">
menu_open
</span>
<mat-icon class="material-icons" (click)="sidenav.toggle()">Menu</mat-icon>

<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <mat-nav-list style="background-color: #0095f6; height: 80%; width: 200px">

      <a mat-list-item style="color: #24292e" [routerLink]="'/home'"> Home </a>
      <a mat-list-item style="color: #24292e" [routerLink]="'/login'"> Login </a>

      <a mat-list-item style="color: #24292e" (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


